{% extends 'main_app/base.html' %} 

{% load static %}

{%block file_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/bishop.css' %}" />
{%endblock file_css%}


{%block main_content%}
<div class="bishop">
    <h2 class="bishop__title">Блаженніший Митрополит Київський і всієї України Онуфрій (Орест Володимирович Березовський)</h2>
    <div class="bishop__content">
        <div class="bishop__basic-info">
            <div class="bishop__image"><img src="{% static 'main_app/images/onufriy.png' %}" alt="Блаженніший Онуфрій"/></div>
            <ul class="bishop-info">
                <li class="bishop-info__item">
                    <h3 class="bishop-info__title">Дата народження</h3>
                    <p class="bishop-info__text">05.11.1944</p>
                </li>
                <li class="bishop-info__item">
                    <h3 class="bishop-info__title">День тезоіменитства</h3>
                    <p class="bishop-info__text">25 червня</p>
                </li>
                <li class="bishop-info__item">
                    <h3 class="bishop-info__title">Дата постригу</h3>
                    <p class="bishop-info__text">18.03.1971</p>
                </li>
                <li class="bishop-info__item">
                    <h3 class="bishop-info__title">Дата дияконської хіротонії</h3>
                    <p class="bishop-info__text">20.06.1971</p>
                </li>
                <li class="bishop-info__item">
                    <h3 class="bishop-info__title">Дата ієрейської хіротонії</h3>
                    <p class="bishop-info__text">29.05.1972</p>
                </li>
                <li class="bishop-info__item">
                    <h3 class="bishop-info__title">Дата архієрейської хіротонії</h3>
                    <p class="bishop-info__text">09.12.1990</p>
                </li>  
            </ul>
        </div>
        <div class="bishop__other-info">
            <ul class="bishop-info">
                <li class="bishop-info__item">
                    <h3 class="bishop-info__title">Світська освіта</h3>
                    <p class="bishop-info__text">Чернівецьке технічне училище (1964)
                        Чернівецький університет (загальнотехнічний факультет)</p>
                </li>
                <li class="bishop-info__item">
                    <h3 class="bishop-info__title">Духовна освіта</h3>
                    <p class="bishop-info__text">Московська духовна семінарія (1972)
                        Московська духовна академія (1988, кандидат богослов'я)</p>
            </ul>
            <h2 class="biography-title">Біографія</h2>
            <div class="biography">
                <p class="biography__text">Блаженніший Митрополит Київський і всієї України Онуфрій (Орест Володимирович Березовський) народився 5 листопада 1944 року в селі Коритне Вашковецького, нині Вижницького, району Чернівецької області в родині священика.
                    У 1961 році закінчив середню школу. Протягом 1962-1964 років навчався в Чернівецькому технічному училищі, потім працював у будівельних організаціях Чернівців.
                    У 1966 році вступив на загальнотехнічний факультет Чернівецького університету.
                    1969 року після третього курсу університету був зарахований на другий курс Московської духовної семінарії, яку закінчив у 1972 році.
                    18 березня 1971 року прийняв чернечий постриг. 20 червня того ж року монаха Онуфрія висвятили в сан ієродиякона, а 29 травня 1972 року - в сан ієромонаха.
                    У 1980 році був возведений у сан ігумена.
                    28 серпня 1984 року призначений настоятелем Спасо-Преображенського храму Афонського представництва в селі Лукино (станція „Передєлкіно" Московської області). З 28 червня 1985 року - благочинний Московської Троїце-Сергієвої Лаври.
                    На Різдво 1986 року возведений у сан архімандрита.
                    У 1988 році закінчив Московську духовну академію з вченим ступенем кандидата богослов'я.
                    З 1988 року - намісник Свято-Успенської Почаївської Лаври, прослужив до листопада 1990 року.
                    9 грудня 1990 року хіротонісаний в єпископа Чернівецького і Буковинського.
                    1994 року возведений у сан архієпископа, 2000-го - в сан митрополита.
                    Рішенням Священного Синоду УПЦ від 14 грудня 2007 року (ЖУРНАЛ №115) обраний Головою Церковного Суду Української Православної Церкви
                    Рішенням Священного Синоду УПЦ від 24 лютого 2014 року (ЖУРНАЛ №1) обраний Місцеблюстителем Київської митрополичої кафедри.
                    Рішенням Собору єпископів УПЦ від 13 серпня 2014 року обраний Предстоятелем Української Православної Церкви.
                    Інтронізація Блаженнішого Митрополита Київського і всієї України Онуфрія відбулася на площі перед Успенським собором Києво-Печерської Лаври 17 серпня 2014 року.
                    16 вересня 2014 року, рішенням Священного Синоду УПЦ (журнал №39), у зв’язку з обранням митрополита Чернівецького і Буковинського Онуфрія Митрополитом Київським і всієї України, його було звільнено з посади голови Церковного Суду Української Православної Церкви.</p>
            </div>
        </div>
    </div>
</div>
{%endblock main_content%}