{% extends 'main_app/base.html' %}
{% load static %}
{%block file_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/main.css' %}" />
{%endblock file_css%}


{%block main_content%}
        <div class="news">
        <h2 class="news__title">Останні новини</h2>
        <ul class="news__tape">
            {% for publication in page_obj%}
            <li class="news-item">
                <div class="news-item__header">
                    <span class="news-item__date-created">{{publication.date_created|date:"d.m.Y"}}</span>
                    <div class="news-item__title">
                    <a href="{% url 'publication' publication.pk %}">{{publication.title}}</a>
                    </div>
                </div>
                <div class="news-item__body">
                    <div class="news-item__image">
                        {% if publication.main_image %}
                        <a href="{% url 'publication' publication.pk %}">
                            <img
                            src="{{publication.main_image.url}}"
                            style="width: 250px; height: auto" 
                            />
                        </a>
                        {% endif %}
                    </div>
                    <div class="news-item__intro-text">{{ publication.text|truncatewords:25 }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <ul class="pagination-list">
                {% if page_obj.has_previous%}
                <li><a href="?page=1">Початок</a></li>
                <li><a href="?page={{page_obj.previous_page_number}}">Попередня</a></li>
                {% endif %}
                {% for page_number in visible_page_range %}
                {% if page_obj.number == page_number %}
                <li class="page-active" >{{page_number}}</li>
                {% else %}
                <li><a href="?page={{page_number}}">{{page_number}}</a></li>
                {% endif%}
                {% endfor %}
                {% if page_obj.has_next%}
                <li><a href="?page={{page_obj.next_page_number}}">Наступна</a></li>
                <li><a href="?page={{page_obj.paginator.num_pages}}">Кінець</a></li>
                {% endif %}
        </div>
        </div>
        {%endblock main_content%}

        {%block sidebar_main%}
        <div class="sidebar-module">
            <h2 class="sidebar-module__title">Архієрей</h2>
            <div class="sidebar-module__content">
              <a href="{% url 'bishop' %}">
                <img
                src="{% static 'main_app/images/onufriy.png' %}"
                alt="Блаженніший Онуфрій"
                />
              </a>
            </div>
          </div>
        {%endblock sidebar_main%}
