{% extends 'main_app/base.html' %} 

{% load static %}

{%block file_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/photogallery.css' %}" />
{%endblock file_css%}


{%block main_content%}
<div class="photogallery">
    <h2 class="photogallery-main-title">Фотогалерея</h2>
    {% if images_from_db%}
    <ul class="photogallery__list">
        {% for img in images_from_db%}
        <li class="photogallery__item">
            <div class="photogallery__image"><a href="{{img.image.url}}"><img src="{{img.image.url}}"/></a></div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{%endblock main_content%}